.img-section {
    width: 100%;
}

.mobile-order{
    display: flex;
    flex-flow: row wrap-reverse;
}

.button-section {
    border-radius: inherit;
    width: 20%;
    height: 10%;
    min-height: 54px;
    margin: auto;
    border-width: 2px;
    letter-spacing: 4.5px;
    font-size: small;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-section {
    color: white;
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
}

.button-section:hover{
    color: white;
}